*.suo
/.vs
*.dll
*.exe
*.targets
Debug
Release
Model.pdb
/Planning/bin/LIB.pdb
/Planning/bin/roslyn
/Planning/bin
/Planning/obj/Debug
*.pdb
/Planning/bin/Planning.dll.config
Common.dll
Common.pdb
/Planning/bin/LIB.dll
Model.dll
Model.dll
Planning.dll
Planning.pdb
Planning.pdb
