
@{
    ViewBag.Title = "Manual Line Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="@Url.Content("~/CustomContents/js/ManualLineProcess.js")?@Common.AppSettings.Version"></script>
<div class="panel panel-headline">
    <div class="panel-heading">
        <h4 class="panel-title" style="width:25%;">Manual Line Process</h4>
        <hr />
    </div>
    <div class="panel-body">
        <div class="row" style="margin-top: -30px;">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <label for="ddlLineNumber">Line Number</label>
                    <select id="ddlLineNumber" class="selectpicker" data-live-search="true"></select>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5" style="padding-top: 25px;">
                <a id="btnManualProcess" role="button" class="k-button k-button-icontext k-grid-edit" href="javascript:void(0)"><span class="k-icon k-i-check"></span>Process</a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4" style="padding-top: 25px;">
                <input id="Kendofilter" type="text" class="form-control" placeholder="Search Here....." />
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div id="divPRInfo">

                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .panel .panel-heading {
        padding-top: 5px;
        position: relative;
        padding-bottom: 10px;
    }

    .panel.panel-headline .panel-heading .panel-title {
        margin-bottom: 0px;
    }

    .k-grid-header th.k-header {
        vertical-align: middle;
        font-size: 9pt;
        text-align: center;
    }

        .k-grid-header th.k-header > .k-link {
            text-align: center;
            font-weight: 600;
        }

    .k-grid td {
        font-size: 9pt;
    }

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
    }
</style>