
@{
    ViewBag.Title = "PR User Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="@Url.Content("~/CustomContents/js/PRUserAccess.js")?@Common.AppSettings.Version"></script>
<div class="panel panel-headline">
    <div class="panel-heading" style="border-bottom: 1px solid #ddd;">
        <h4 class="panel-title" style="font-family: 'Pacifico', cursive">PR User Access</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Company</label>
                        <input type="hidden" id="hdPRUserAccessID" />
                        <select class="form-control" id="ddlCompany" data-required="1"></select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Employee</label>
                        <select class="selectpicker" id="ddlEmployee" multiple data-live-search="true" data-size="10" data-required="1"></select>
                    </div>
                </div>
                <div class="col-md-12">
                    <button id="btnSave" class="btn btn-success">Save</button>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div id="tblPRUserAccess"></div>
            </div>
        </div>        
    </div>
</div>
<style type="text/css">
    .panel .panel-heading {
        padding-top: 5px;
        position: relative;
        padding-bottom: 10px;
    }

    .panel.panel-headline .panel-heading .panel-title {
        margin-bottom: 0px;
    }

    .k-grid-header th.k-header {
        vertical-align: middle;
        font-size: 9pt;
        text-align: center;
    }

        .k-grid-header th.k-header > .k-link {
            text-align: center;
            font-weight: 600;
        }

    .k-grid td {
        font-size: 9pt;
    }

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
    }
</style>

